/* Base Styles (Mobile-First) */

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    padding-top: 70px;
}

#hello {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main h1,
h2 {
    color: #ff0077;
    text-decoration: none;
}

main {
    flex: 1;
    width: 90%;
    margin: 0 auto;
}

main p {
    padding-bottom: 2rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(43deg, #ff0077 0%, #ffd900 199%);
    color: #ffffff;
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(255, 0, 119, 0.4);
}

.dropbtn {
    z-index: 1000;
}

.logo-round {
    width: 40px;
    height: auto;
    border-radius: 50%;
    z-index: 2000;
    display: block;
    box-shadow: 0 4px 6px rgba(255, 0, 119, 0.4);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-text {
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffd900;
    transform: scale(1.05);
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    background-image: linear-gradient(43deg, #ff0077 0%, #ffd900 199%);
    box-shadow: 0px 8px 16px 0px rgba(255, 0, 119, 0.2);
    z-index: 1;
    padding-top: 1.2rem;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #F9F9F9;
    color: #ffd900;
    transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: scale(1.05);
}

/* Homepage Main styles */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#myphoto {
    padding-bottom: 2rem;
}

#circle-cover-bg {
    background: url("../images/mtb-laura.png") no-repeat center / cover;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(255, 0, 119, 0.5);
}

#home-blog a,
#home-contact a {
    text-decoration: none;
}

/* Blog specific styles */

#blog.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.blog-hero {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*includes the figcaption*/
.blog-hero img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.blog-hero figcaption {
    font-size: 0.6rem;
    color: #666;
    margin-top: 0.5rem;
    text-align: left;
}

.blog-amazon img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.blog-amazon figcaption {
    font-size: 0.6rem;
    color: #666;
    margin-top: 0.5rem;
    text-align: left;
}

.blog-content .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

#blog-bold1,
#blog-bold2,
#blog-bold3 {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0
}

.container.next-prev-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.next-prev-blog a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.container.next-prev-blog .prev-blog p::before {
    content: '← ';
    margin-right: 8px;
}

.container.next-prev-blog .next-blog p::after {
    content: ' →';
    margin-left: 8px;
}

.container.next-prev-blog p {
    margin: 0;
}

.blog-index {
    text-align: center;
    padding-bottom: 20px;
}

.blog-index a {
    text-decoration: none;
    color: #ff0077;
}

.blog-index a:hover,
.container.next-prev-blog a:hover {
    font-weight: bold;
    /* Bold on hover */
}

/* Blog index page styles*/
.blog-index.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.blog-index-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: start;
}

.blog-date, .blog-title, .blog-excerpt {
    padding: 10px; /* Optional padding for each cell */
    border-bottom: 1px solid #ddd; /* Optional border for separation */
}

.blog-date {
    grid-column: 1; /* First column */
    font-weight: bold; /* Optional styling */
}

.blog-title {
    grid-column: 2; /* Second column */
    font-weight: bold; /* Optional styling */
}

.blog-title a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Link color */
}

.blog-title a:hover {
    color: #ff0077;
}

.blog-excerpt {
    grid-column: 3; /* Third column */
    color: #555; /* Optional text color */
}

/* Contact form styles */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #ff0077;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    transform: scale(1.05);}

/* Footer Styles */

footer {
    width: 100%;
    background-color: #ff0077;
    background-image: linear-gradient(43deg, #ff0077 0%, #ffd900 199%);    
}

#footer {
    max-width: 96%;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#footer .btn-signup {

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #ffffff;
    color: #F9F9F9;
}

#footer .btn-signup:hover {
    background-color: #ffd900;
    text-decoration: none;
    box-shadow: 0 0 25px var(#ffd900), 0 0 50px var(#ff0077);
}

#footer .footer-signup {
    order: 2;
}

#footer .footer-amazonlink {
    order: 1;
}

#footer .footer-amazonlink a {
    text-decoration: none;
    color: #ffffff;
}

#footer .footer-amazonlink a:hover {
    color: #ffd900;
    transform: scale(1.05);
}

#footer .footer-copyright {
    order: 3;
}

#socials {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #ffffff;
}

/* Tablet Screens */
@media (min-width: 768px) {

    #logo-text {
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        margin: 0 10px;
    }

    .dropdown-content {
        right: 0;
        left: auto;
    }

    #hello {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    #home {
        flex-direction: row;
        justify-content: center;
        align-items: end;
    }

    /* Blog styles */

    .blog-hero img {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    figcaption {
        display: flex;
    }

    .blog-top {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        gap: 20px;
        flex: 1;
    }

    .blog-top > div, .blog-top > figure {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
    }

    .blog-middle {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        /*flex: 1;*/
    }

    .blog-middle > div {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
    }

    .blog-middle > figure {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
    }

    .blog-middle .method {
        order: 1;
    }

    .blog-middle .blog-amazon {
        order: 3;
    }

    .blog-middle .div2 {
        order: 2;
    }

    .blog-middle2 {
        padding-top: 30px;
    }

    .blog-middle3 {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
        flex: 1;
    }
    .blog-middle3 > div, .blog-middle3 > figure {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
    }

    /* Footer */
    .footer-bottom {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .footer-right {
        text-align: right;
    }
}

/* Desktop Screens */
@media (min-width: 1024px) {
    main {
        width: 80%;
    }

    #hello {
        font-size: 3rem;
    }

    #home {
        flex-direction: row;
        justify-content: center;
    }

    #home .container {
        text-align: left;
        justify-content: center;
    }

    .footer-right ul {
        display: flex;
        justify-content: space-between;
    }
}